.search_input{
    margin-top: 15px;
}

.detail_btn{
    margin-right: 20px;
}


/*search_box css*/
#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
}
 
#custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
}
 
#custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#5cb85c; /*#29c75f*/
        
}
 
.search-query:focus + button {
        z-index: 3;   
}

.detail_view{
    outline-color: #D8D8D8;
    outline-width: 0.5px;
    outline-style: solid;
    box-shadow: 2px 2px 1px #888888;
    background-color: white;
    margin-bottom: 10px;
   
}

.detailserach_boxsize{
    position: element('');
    transform: translateY(-100%);
}

.detail_content{
    margin-left: 20px;
    margin-top: 10px;
}

.detail_content{
    margin-left: 20px;
    margin-top: 10px;
}

.detail_content2{
    margin-left: 2px;
    margin-top: 10px;
}

.recomend_view{
    margin-top: 50px
}

.option_name{
    margin-right: 10px
}


.width_arrangement{
    float: left;
}

.my-logo {
    width: 100%;
    height: auto;
}


.search_input_after{
    

    outline-width: 1px;
    outline-color: #D8D8D8;
    outline-style: solid;
    margin-top:10px;
    box-shadow: 2px 2px 1px #888888;
    background-color: rgba(244, 244, 244, 0.7);
    
}

.normal_btn{
    border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 10px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 1px;
        color:#FFF;
}

.normal_btn:focus{
    border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#819FF7;
}

.tag_position{
    margin-left: 5px;
}

.main2_position{
    position: relative;
    left:25px;
}

.searchbar_position{
    height: 100%;
}

.imgandtagmargin{
    margin-left: 50px;
}

.contenttitle {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

.thumnail_bord {
    border-right-width: 3px;
    border-bottom-width: 3px;
}
