
    <nav class="backgroud_upper_intro navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/??"><img src="longlogo-04.png" href="/??" width="131px" height="35px" alt="OP.GG Logo (탈것)" ></a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline mt-2 mt-md-0 ml-auto">
          <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
          <a class="navbar-brand" href="/dashboard4">환영합니다! <%=session[:institute_name]%> 담당자님</a></a>
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/intro_dashboard">전체 프로그램현황 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/booker_check">날짜별 예약인원 및 예약승인 하러가기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/check_day_program">캘린더로 보는 예약가능날짜 설정하기</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard4">계정관리</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/??">로그아웃</a>
            </li>
          </ul>
        </nav>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p>
<%@d.each do |data|    
                  @datas=data%>

  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
 <%=@datas%>
  </a>
<%end%>
</p>

<% @d.each do |data| %>
<div class="collapse" id="collapseExample">
  <div class="card card-block">
    <div class="month"> 
  <ul>
    <li class="next">&#10095;</li>
    <li>5월 <br>
      <span style="font-size:18px"><%=data%></span>
    </li>
  </ul>
</div>
<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days"> 
  <li><span class="lastmonth">30</span></li>
  <li>1<br>
  <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">4/20</a><br>
  <label class="form-check-label"><input type="checkbox" class="form-check-input"></label></li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li><span class="active">10</span></li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li><span class="disable">17</span></li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
</ul>
  <div>
   <button class="btn btn-outline-success" type="submit" style="margin-left:420px">예약확인</button>
  </div>
  </div>
</div>
<% end %>









<!-- Large modal구현-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!--모달 내용-->
        <h2>야호 숲으로가자</h2>
    <form action="/dashboard3" method="get">
          <div class="table-responsive">
            <table class="table table-striped" style="margin-bottom: 0px;">
              <thead>
                <tr>
                  <th>예약인원</th>
                  <th>이름</th>
                  <th>전화번호</th>
                  <th>메일주소</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>김만중</td>
                  <td>01090127040</td>
                  <td>skekf123@naver.com</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>고석현</td>
                  <td>01072785445</td>
                  <td>mand119@hanain.net</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>손지현</td>
                  <td>01012345678</td>
                  <td>qkqhtwl@naver.com</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>libero</td>
                  <td>01029371922</td>
                  <td>cursus@naveron</td>
                </tr>
              </tbody>
            </table>
            </div>
            </form>
      </div>
      
      <div class="mx-auto modal-footer" style="width: 230px">
    <button type="button" class="form-control btn btn-login btn btn-default" data-dismiss="modal">Close</button> 
  </div>
  
    </div>
  </div>
</div>








  
  
  
  
  
  
  
  
  
  <!--
    <h2>야호 숲으로가자</h2>
    <form action="/dashboard3" method="get">
          <div class="table-responsive">
            <table class="table table-striped" style="margin-bottom: 0px;">
              <thead>
                <tr>
                  <th>예약인원</th>
                  <th>이름</th>
                  <th>전화번호</th>
                  <th>성별</th>
                  <th>분류</th>
                  <th>예약확인<th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>김만중</td>
                  <td>010-9012-7040</td>
                  <td>남</td>
                  <td>군인</td>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios1" id="optionsRadios1" value="확인">
                         확인
                      </label>
                    </div>
                  
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios1" id="optionsRadios2" value="거절">
                         예약 불가
                      </label>
                    </div>
                  </td>
                </tr>
                
                <tr>
                  <td>2</td>
                  <td>고석현</td>
                  <td>010-7278-5445</td>
                  <td>남</td>
                  <td>임산부</td>
                  <td>
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios2" id="optionsRadios1" value="확인">
                         확인
                      </label>
                    </div>
                  
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios2" id="optionsRadios2" value="거절">
                         예약 불가
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>손지현</td>
                  <td>010-1234-5678</td>
                  <td>여</td>
                  <td>손지짱</td>
                  <td>
  
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios3" id="optionsRadios1" value="확인">
                         확인
                      </label>
                    </div>
                  
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios3" id="optionsRadios2" value="거절">
                         예약 불가
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                  <td>
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios4" id="optionsRadios1" value="확인">
                         확인
                      </label>
                    </div>
                  
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios4" id="optionsRadios2" value="거절">
                         예약 불가
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
            <button class="btn btn-outline-success" type="submit" style="margin-left:420px">예약확인</button>
            </div>
            </div>
            </form>
          </main>
  
            
            
            
            
            
            
            
         <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <h2>신나는 곤충채집</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>예약인원</th>
                  <th>이름</th>
                  <th>전화번호</th>
                  <th>성별</th>
                  <th>분류</th>
                  <th>예약확인<th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>김만중</td>
                  <td>010-9012-7040</td>
                  <td>남</td>
                  <td>군인</td>
                  <td>
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                         확인
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                         예약 불가
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>고석현</td>
                  <td>010-7278-5445</td>
                  <td>여</td>
                  <td>임산부</td>
                  <td>
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                         확인
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                         예약 불가
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>손지현</td>
                  <td>010-1234-5678</td>
                  <td>여</td>
                  <td>손지짱</td>
                  <td>
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                         확인
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                         예약 불가
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                  <td>
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                         확인
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                         예약 불가
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </main>
            
            
            
            
            
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <h2>클래식 태교</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>예약인원</th>
                  <th>이름</th>
                  <th>전화번호</th>
                  <th>성별</th>
                  <th>분류</th>
                  <th>예약확인</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>김만중</td>
                  <td>010-9012-7040</td>
                  <td>남</td>
                  <td>군인</td>
                  <td>
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                         확인
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                         예약 불가
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>고석현</td>
                  <td>010-7278-5445</td>
                  <td>여</td>
                  <td>임산부</td>
                  <td>
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                         확인
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                         예약 불가
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>손지현</td>
                  <td>010-1234-5678</td>
                  <td>여</td>
                  <td>손지짱</td>
                  <td>
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                         확인
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                         예약 불가
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                  <td>
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                         확인
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                         예약 불가
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
-->
