<!--모달 버튼-->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" > 기본 모달 </button>




<!--모달 구현-->
<div class="modal fade container" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
      <div class="modal-dialog"> 

           
        <!--로그인 페이지 -->
   <div class="row by mydal">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login" style="width: 500px">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" action="/dashboard" method="get" role="form" style="display: block;">
                <h2>환영합니다. 담당자님</h2>
            
                  <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="기관 ID" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="비밀번호">
                  </div>
                  <div class="col-xs-6 form-group pull-left checkbox">
                    <input id="checkbox1" type="checkbox" name="remember">
                    <label for="checkbox1">ID 저장</label>   
                  </div>
                  <div class="col-xs-6 form-group pull-right">     
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                  </div>
              </form>
              <form id="register-form" action="/write" method="post" role="form" style="display: none;">
                <h2>REGISTER</h2>
          <!--name으로 값구분-->
                  <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="등록 신청">
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6 tabs">
              <a href="#" class="active" id="login-form-link"><div class="btn-login login">로그인</div></a>
            </div>
            <div class="col-xs-6 tabs">
              <a href="#" id="register-form-link"><div class="btn-login login">기관 등록</div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--모달구현-->
                 <div class="mx-auto modal-footer" style="width: 230px">
        
               <button type="button" class="form-control btn btn-login btn btn-default" data-dismiss="modal">Close</button> 
          </div> 
         </div> 
     </div>
  </div>
